.baseButton,
.otherButton,
.baseDiffButton {
    width: fit-content;
    margin: auto;
}

.baseImage,
.otherImage,
.diffImage {
    grid-area: 'overlap';
}

.imageGrid {
    display: 'grid';
    grid-template-areas: '"overlap"'
}