.scrollWatcher {
  height: 2px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: lime;
  width: 100%;
  scale: 0 1;
  transform-origin: left;
  animation: scrollWatcher linear;
  animation-timeline: scroll();
}

@keyframes scrollWatcher {
  to {
    scale: 1 1;
  }
}

.grid {
  height: 95vh;
  display: grid;
  /*grid-template-columns: repeat(4, 1fr);*/
  gap: 1rem;
  justify-self: center;
  box-sizing: border-box;
}

@media (min-width: 600px) {
  /* .grid {
    grid-template-columns: repeat(4, 1fr);
    max-width: 800px;
  } */
}

@media (prefers-reduced-motion: no-preference) {
  /* .readingGrid {
    .img {
      opacity: 0.2;
      animation: scrollImage linear forwards;
      animation-timeline: view();
      animation-range: entry;
    }
  }

  @keyframes scrollImage {
    to {
      opacity: 1;
    }
  } */
}
